<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SMAPAR V.1 - A Smart Parking System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,100..900;1,100..900&family=Cinzel:wght@400..900&display=swap" rel="stylesheet">

    <script>
        async function fetchData() {
            try {
                const response = await fetch('/spots');
                const data = await response.json();

                // Update jumlah parkir yang tersedia dan total parkir
                document.getElementById('available').textContent = data.availableSpots;
                document.getElementById('total').textContent = data.totalSpots;

                // Update status parkir
                const spotsDiv = document.getElementById('spots');
                spotsDiv.innerHTML = '';

                // Urutkan spot parkir berdasarkan nomor spotnya
                const sortedSpots = Object.keys(data.spots).sort((a, b) => {
                    // Extract numeric part of the spot name and compare
                    const numA = parseInt(a.split(' ')[1], 10);
                    const numB = parseInt(b.split(' ')[1], 10);
                    return numA - numB;
                });

                sortedSpots.forEach(spot => {
                    const div = document.createElement('div');
                    div.className = `spot ${data.spots[spot] ? 'available' : 'occupied'}`;
                    div.textContent = spot;
                    spotsDiv.appendChild(div);
                });
            } catch (error) {
                console.error('Error fetching data:', error);
            }
        }

        // Memanggil fetchData setiap 1 detik
        setInterval(fetchData, 1000);
    </script>


</head>
<body onload="fetchData()">
    <nav class="navbar navbar-expand-lg shadow-navbar">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="{{ url_for('static', filename='logopnj.png') }}" alt="PNJ" class="logo-img">
                <img src="{{ url_for('static', filename='logocsc.png') }}" alt="CSC" class="logo-img">
                <img src="{{ url_for('static', filename='smapar.png') }}" alt="SMAPAR" class="logo-img">
            </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ms-auto">
              <a class="nav-link" aria-current="page" href="#">Home</a>
              <a class="nav-link" href="about_us.html">About us</a>
            </div>
          </div>
        </div>
      </nav>
    <h1><img src="{{ url_for('static', filename='smapar.png') }}" alt="smapar" class="smapar-logo"></h1>
    <h2>Parkir Yang Tersedia: <span id="available">0</span> / <span id="total">0</span></h2>
    <div class="container">
        <div id="spots-container">
            <div id="spots"></div>
        </div>
    </div>
</body>
</html>
