@font-face{
    font-family:'Helvetica';
    src: url('fonts/Helvetica/Helvetica.ttf');
}
@font-face{
    font-family:'Helvetica-Bold';
    src: url('fonts/Helvetica/Helvetica-Bold.ttf');
}

body {
    font-family: Arial, sans-serif;
    background-color: #1e1e1e !important;
    text-align: center;
}
h2 {
    font-family: 'Helvetica';
    color: white;
}

.logo-img {
    height: 50px;
}
.smapar-logo {
    height: 300px;
}
.shadow-navbar {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.navbar {
    background-color: rgba(0, 0, 0, 0.548) !important; /* Transparansi 50% */
}
.navbar-toggler-icon {
    background-color: rgba(255, 255, 255, 0.5); /* Transparansi pada ikon toggler */
}
.navbar-nav .nav-link {
    font-family: 'Helvetica-Bold';
    color: #FFFFFF; 
}
.navbar-nav .nav-link:hover {
    font-family: 'Helvetica-Bold';
    color: #03dac5; 
}
.navbar-nav .nav-link.active {
    font-family: 'Helvetica-Bold';
    color: #33FF57;
}
.spot {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 50px;
    margin: 10px;
    color: white;
    font-weight: bold;
    box-sizing: border-box;
    border-radius: 5px;
}

.available {
    background-color: green;
}

.occupied {
    background-color: red;
}

.container {
    position: relative;
    text-align: center;
    margin: 0 auto;
    max-width: 1200px;
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#spots-container {
    position: relative;
    z-index: 2;
}

#spots {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

@media screen and (max-width: 600px)
{
    .logo-img{
        height: 25px;
    }
    .smapar-logo{
        height: 150px;
    }
}